.vertical-line {
  width: 1px;
  height: 80%;
  background-color: black;
  margin-left: 35px;
}

h3{
  text-align: center;
}

.custom-modal-body {
  width: auto;
  height: auto;
}

.LinkHeader{
  color: gray;
}

.logo-image{
  width: 15%;
  margin-left: 300px;
}

.Navbar{
  background: #515154;
}